<main class="pe-5 ps-1 pt-4 mb-10">
    <breadcrumb [breadCrumbData]="breadCrumbData" />
    <div class="loader-container" *ngIf="loading">
        <app-loader [size]="10" />
    </div>
    <div *ngIf="!loading">
        <app-data-table [data]="list" [columns]="columns" tableHeading="All Ads Table"
            searchPlaceholder="Search by ad title, user ID, or ad ID" pageTitle="All Ads"
            (searchUsers)="searchFillter($event)" (deleteData)="deleteElement($event)" 
            (detailView)="detailView($event)"
            searchBnText="Delete Selected Ads"
            page_name="ads"
            />
    </div>
    <div *ngIf="viewData">
        <modal-compnent [item]="viewData" (closeModal)="hideModal()" previewTitle="Ad View" />
    </div>
    <div *ngIf="isDeleteModal">
        <delete-modal-compnent [isDeleteModal]="isDeleteModal" (closeDeleteModal)="hideModal()"
            (confirmDelete)="confirmDelete()" />
    </div>
</main>

<!-- (detailView)="detailView($event)"  -->
<!-- (editRecord)="editRecord($event)" -->
<!-- (markAsRead)="markAsRead($event)" -->