<main class="pe-5 ps-1 pt-4 mb-10">
    <breadcrumb [breadCrumbData]="breadCrumbData" />
    <div class="loader-container" *ngIf="loading">
        <app-loader [size]="10" />
    </div>
    <div *ngIf="!loading">
        <h2 class="font-bold text-2xl text-black mb-5">Manage Boost</h2>
        <app-data-table [data]="list" [columns]="columns" tableHeading="Existing Boosts List Table"
            searchPlaceholder="Search by ad title, user ID, or ad ID" pageTitle="Manage Boost"
            (deleteData)="deleteElement($event)"
            (detailView)="detailView($event)" page_name="boosting" [isSearched]="false" />
    </div>
    <div *ngIf="viewData">
        <modal-compnent [item]="viewData" (closeModal)="hideModal()" previewTitle="Boosting View" />
    </div>
    <div *ngIf="isDeleteModal">
        <delete-modal-compnent [isDeleteModal]="isDeleteModal" (closeDeleteModal)="hideModal()"
            (confirmDelete)="confirmDelete()" />
    </div>
</main>